In [3]:
import breeze_connect
from breeze_connect import BreezeConnect

In [4]:
# Generate session token for each day  
# Log into this site while the 'developer tools -> network' tab is open  
# Copy 'API_session' key for 'payload' section in 127.0.0.1  

fresh_token = 1514347

In [5]:
isec = BreezeConnect(api_key="06890j43os6a521A7b7241i934KQ9S56")
isec.generate_session(
    api_secret="$42367K2z98758S712349896J6i^64Mx",
    session_token=fresh_token)

## Historical data

`Daily data nifty`

In [ ]:
nifty_daily = isec.get_historical_data(
    interval="1day", 
    from_date="2011-01-01", 
    to_date="2022-08-15",
    stock_code="NIFTY",
    exchange_code="NSE",
    product_type="",
    expiry_date="")

nifty_daily

In [18]:
import pandas as pd
df = pd.DataFrame(nifty_daily['Success'])
print(len(df))
df.tail()

2855

,datetime,stock_code,exchange_code,product_type,expiry_date,right,strike_price,open,high,low,close,volume,open_interest,count
2850,2022-08-05 12:08:00,NIFTY,NSE,None,None,None,None,17423.65,17474.4,17348.75,17397.5,294357710,None,2850
2851,2022-08-08 12:08:00,NIFTY,NSE,None,None,None,None,17401.5,17548.8,17359.75,17525.1,231336314,None,2851
2852,2022-08-10 12:08:00,NIFTY,NSE,None,None,None,None,17566.1,17566.1,17442.8,17534.75,264768246,None,2852
2853,2022-08-11 12:08:00,NIFTY,NSE,None,None,None,None,17711.65,17719.3,17631.95,17659,220141683,None,2853
2854,2022-08-12 12:08:00,NIFTY,NSE,None,None,None,None,17659.65,17724.65,17597.85,17698.15,242553351,None,2854

In [20]:
df.to_csv('datasets/nifty_daily.csv')

`1min data nifty`

In [43]:
nifty_1min = isec.get_historical_data(
    interval="1minute", 
    from_date="2022-01-01", 
    to_date="2022-08-17",
    stock_code="NIFTY",
    exchange_code="NSE",
    product_type="",
    expiry_date="")

print(type(nifty_1min))
print(len(nifty_1min['Success']))

<class 'dict'>
83063

In [44]:
nifty_1min_df = pd.DataFrame(nifty_1min['Success'])
len(nifty_1min_df)

83063

In [45]:
nifty_1min_df.tail()

,datetime,stock_code,exchange_code,product_type,expiry_date,right,strike_price,open,high,low,close,volume,open_interest,count
83058,2022-08-17 16:16:00,NIFTY,NSE,None,None,None,None,17944.25,17944.25,17944.25,17944.25,,None,83058
83059,2022-08-17 16:17:00,NIFTY,NSE,None,None,None,None,17944.25,17944.25,17944.25,17944.25,,None,83059
83060,2022-08-17 16:18:00,NIFTY,NSE,None,None,None,None,17944.25,17944.25,17944.25,17944.25,,None,83060
83061,2022-08-17 16:19:00,NIFTY,NSE,None,None,None,None,17944.25,17944.25,17944.25,17944.25,,None,83061
83062,2022-08-17 16:20:00,NIFTY,NSE,None,None,None,None,17944.25,17944.25,17944.25,17944.25,,None,83062

In [46]:
nifty_1min_df.to_csv('datasets/nifty_1min.csv')

## Live Data

In [ ]:
isec.ws_connect()

isec.subscribe_feeds(
    stock_code="AXIBAN",
    exchange_code="NFO",
    product_type="futures",
    expiry_date="2022-09-29")

def on_ticks(ticks):
    # Callback to receive ticks
    print(f'Ticks: {ticks}')

isec.on_ticks = on_ticks

GetStockTokenError: Stock-Code not found.

## Placing order

In [ ]:
# print(isec.place_order(
#     stock_code="AXIBAN",
#     exchange_code="NFO",
#     product="Futures",
#     action="Buy",
#     order_type="Limit",
#     stoploss="0",
#     quantity="1200",
#     price="760.00",
#     validity="Day",
#     validity_date="2022-08-20",
#     disclosed_quantity="0",
#     expiry_date="2022-08-24",
#     right="others",
#     strike_price="0",
#     user_remark="Test"
# ))

{'Success': None, 'Status': 500, 'Error': 'Client not enabled for Derivatives, please write to dbccell for assistance.: '}

## Using help

In [ ]:
help(isec)

## Saving data

In [ ]:
import pandas as pd
df = pd.DataFrame(ax_fut)
df.head()

                                             Success  Status Error
0  {'datetime': '2022-07-01 15:24:40', 'stock_cod...     200  None
1  {'datetime': '2022-07-04 15:29:00', 'stock_cod...     200  None
2  {'datetime': '2022-07-05 15:29:05', 'stock_cod...     200  None
3  {'datetime': '2022-07-06 15:29:54', 'stock_cod...     200  None
4  {'datetime': '2022-07-07 15:29:24', 'stock_cod...     200  None

In [ ]:
df["Success"][0]

{'datetime': '2022-07-01 15:24:40',
 'stock_code': 'AXIBAN',
 'exchange_code': 'NFO',
 'product_type': 'Futures',
 'expiry_date': '29-SEP-22',
 'right': 'Others',
 'strike_price': '0',
 'open': '644',
 'high': '648.9',
 'low': '643.85',
 'close': '645.1',
 'volume': '3600',
 'open_interest': None,
 'count': 0}