<a href="https://colab.research.google.com/github/ganeshbmc/markets/blob/master/quant%20trading/iv_based_stddev_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple strategy based on ATM IV and std deviations

`Define your input variables here`

In [17]:
# Input
underlying = "nifty_bank"
spot_prev_close = 43413
days_to_expiry = 3
atm_iv = 12.8

`Import necessary libraries`

In [18]:
import math as m
import numpy as np
import pandas as pd
import datetime as dt

`Calculation engine`

In [19]:
def expected_move_pct(atm_iv, days_to_expiry, risk_stddev):
    exp_move_pct = (atm_iv/(m.sqrt(256/days_to_expiry)))
    exp_move_pct_for_desired_risk = exp_move_pct * risk_stddev
    return exp_move_pct, exp_move_pct_for_desired_risk

def get_strikes(underlying, atm_iv, spot_prev_close, days_to_expiry):

    heads = ["Pct move", "Points to move from spot", "Lower strike", "Upper strike"]
    df = pd.DataFrame(index=heads)

    std_devs = [0.75, 1, 1.5, 2, 2.5]
    for risk_stddev in std_devs:
        mv1, mv2 = expected_move_pct(atm_iv, days_to_expiry, risk_stddev)
        points_move = spot_prev_close * (mv2/100)
        lower_strike = spot_prev_close - points_move
        upper_strike = spot_prev_close + points_move

        temp = [f"{round(mv2, 2)}", 
                f"{int(points_move)}", f"{int(lower_strike)}", f"{int(upper_strike)}"]
        df[f"{risk_stddev} SD"] = temp

    statement = f"Underlying: {underlying.upper()}\nSpot price of interest: {spot_prev_close}\nPeriod of interest: {days_to_expiry}\nATM IV: {atm_iv}\n\n"
    print(statement)
    return df

`Output`

In [20]:
get_strikes(underlying, atm_iv, spot_prev_close, days_to_expiry)

Underlying: NIFTY_BANK
Spot price of interest: 43413
Period of interest: 3
ATM IV: 12.8

                         0.75 SD   1 SD 1.5 SD   2 SD 2.5 SD
Pct move                    1.04   1.39   2.08   2.77   3.46
Points to move from spot     451    601    902   1203   1503
Lower strike               42961  42811  42510  42209  41909
Upper strike               43864  44014  44315  44616  44916