In [1]:
import breeze_connect
from breeze_connect import BreezeConnect

`Generate session token for each day`  
Log into the [icici direct using API key](https://api.icicidirect.com/apiuser/login?api_key=06890j43os6a521A7b7241i934KQ9S56) while the 'developer tools -> network' tab is open  
`Copy 'API_session' key for 'payload' section in 127.0.0.1`

In [2]:
fresh_token = 2294584

In [3]:
isec = BreezeConnect(api_key="06890j43os6a521A7b7241i934KQ9S56")
isec.generate_session(
    api_secret="$42367K2z98758S712349896J6i^64Mx",
    session_token=fresh_token)

## Historical data

In [4]:
import datetime
period = 30
current_date = str(datetime.datetime.today())
previous_date = str(datetime.datetime.today() - datetime.timedelta(days=period))
current_date, previous_date

('2022-12-25 16:03:05.986833', '2022-11-25 16:03:05.986913')

`Monthly data nifty`

In [5]:
nifty_daily = isec.get_historical_data(
    interval="1day", 
    from_date=previous_date, 
    to_date=current_date,
    stock_code="NIFTY",
    exchange_code="NSE",
    product_type="",
    expiry_date="")

nifty_daily

{'Success': [{'datetime': '2022-11-25 12:11:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18528.45',
   'high': '18534.9',
   'low': '18445.1',
   'close': '18512.75',
   'volume': '358768454',
   'open_interest': None,
   'count': 0},
  {'datetime': '2022-11-28 12:11:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18430.55',
   'high': '18614.25',
   'low': '18365.6',
   'close': '18562.75',
   'volume': '337774388',
   'open_interest': None,
   'count': 1},
  {'datetime': '2022-11-29 12:11:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18552.45',
   'high': '18678.1',
   'low': '18552.15',
   'close': '18618.05',
   'volume': '300523760',
   'open_interest': None,
   'count': 2},
  {'datetime': '2022-11-30 12:11:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18625.7',
   'high': '18816.05',
   'low': '18616.55',
   'close': '18758.35',
   'volume': '419783495',
   'open_interest': None,
   'count': 3},
  {'datetime': '2022-12-01 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18871.95',
   'high': '18887.6',
   'low': '18778.2',
   'close': '18812.5',
   'volume': '308532858',
   'open_interest': None,
   'count': 4},
  {'datetime': '2022-12-02 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18752.4',
   'high': '18781.95',
   'low': '18639.2',
   'close': '18696.1',
   'volume': '358090487',
   'open_interest': None,
   'count': 5},
  {'datetime': '2022-12-05 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18719.55',
   'high': '18728.6',
   'low': '18591.35',
   'close': '18701.05',
   'volume': '380833274',
   'open_interest': None,
   'count': 6},
  {'datetime': '2022-12-06 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18600.65',
   'high': '18654.9',
   'low': '18577.9',
   'close': '18642.75',
   'volume': '343914409',
   'open_interest': None,
   'count': 7},
  {'datetime': '2022-12-07 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18638.85',
   'high': '18668.3',
   'low': '18528.4',
   'close': '18560.5',
   'volume': '319940900',
   'open_interest': None,
   'count': 8},
  {'datetime': '2022-12-08 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18570.85',
   'high': '18625',
   'low': '18536.95',
   'close': '18609.35',
   'volume': '297439111',
   'open_interest': None,
   'count': 9},
  {'datetime': '2022-12-09 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18662.4',
   'high': '18664.7',
   'low': '18410.1',
   'close': '18496.6',
   'volume': '497572998',
   'open_interest': None,
   'count': 10},
  {'datetime': '2022-12-12 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18402.15',
   'high': '18521.55',
   'low': '18345.7',
   'close': '18497.15',
   'volume': '403641766',
   'open_interest': None,
   'count': 11},
  {'datetime': '2022-12-13 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18524.4',
   'high': '18617.25',
   'low': '18490.2',
   'close': '18608',
   'volume': '491814571',
   'open_interest': None,
   'count': 12},
  {'datetime': '2022-12-14 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18671.25',
   'high': '18696.1',
   'low': '18632.9',
   'close': '18660.3',
   'volume': '627258694',
   'open_interest': None,
   'count': 13},
  {'datetime': '2022-12-15 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18614.4',
   'high': '18652.9',
   'low': '18387.7',
   'close': '18414.9',
   'volume': '503132898',
   'open_interest': None,
   'count': 14},
  {'datetime': '2022-12-16 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18319.1',
   'high': '18440.95',
   'low': '18255.15',
   'close': '18269',
   'volume': '444703365',
   'open_interest': None,
   'count': 15},
  {'datetime': '2022-12-19 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18288.1',
   'high': '18431.65',
   'low': '18244.55',
   'close': '18420.45',
   'volume': '382735977',
   'open_interest': None,
   'count': 16},
  {'datetime': '2022-12-20 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18340.3',
   'high': '18404.9',
   'low': '18202.65',
   'close': '18385.3',
   'volume': '368485441',
   'open_interest': None,
   'count': 17},
  {'datetime': '2022-12-21 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18435.15',
   'high': '18473.35',
   'low': '18162.75',
   'close': '18199.1',
   'volume': '471434877',
   'open_interest': None,
   'count': 18},
  {'datetime': '2022-12-22 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '18288.8',
   'high': '18318.75',
   'low': '18068.6',
   'close': '18127.35',
   'volume': '406970495',
   'open_interest': None,
   'count': 19},
  {'datetime': '2022-12-23 12:12:00',
   'stock_code': 'NIFTY',
   'exchange_code': 'NSE',
   'product_type': None,
   'expiry_date': None,
   'right': None,
   'strike_price': None,
   'open': '17977.65',
   'high': '18050.45',
   'low': '17779.5',
   'close': '17806.8',
   'volume': '406794867',
   'open_interest': None,
   'count': 20}],
 'Status': 200,
 'Error': None}

In [6]:
import pandas as pd
df = pd.DataFrame(nifty_daily['Success'])
print(len(df))
df.tail()

21

,datetime,stock_code,exchange_code,product_type,expiry_date,right,strike_price,open,high,low,close,volume,open_interest,count
16,2022-12-19 12:12:00,NIFTY,NSE,None,None,None,None,18288.1,18431.65,18244.55,18420.45,382735977,None,16
17,2022-12-20 12:12:00,NIFTY,NSE,None,None,None,None,18340.3,18404.9,18202.65,18385.3,368485441,None,17
18,2022-12-21 12:12:00,NIFTY,NSE,None,None,None,None,18435.15,18473.35,18162.75,18199.1,471434877,None,18
19,2022-12-22 12:12:00,NIFTY,NSE,None,None,None,None,18288.8,18318.75,18068.6,18127.35,406970495,None,19
20,2022-12-23 12:12:00,NIFTY,NSE,None,None,None,None,17977.65,18050.45,17779.5,17806.8,406794867,None,20

In [7]:
# df.to_csv('datasets/nifty_daily.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       21 non-null     object
 1   stock_code     21 non-null     object
 2   exchange_code  21 non-null     object
 3   product_type   0 non-null      object
 4   expiry_date    0 non-null      object
 5   right          0 non-null      object
 6   strike_price   0 non-null      object
 7   open           21 non-null     object
 8   high           21 non-null     object
 9   low            21 non-null     object
 10  close          21 non-null     object
 11  volume         21 non-null     object
 12  open_interest  0 non-null      object
 13  count          21 non-null     int64
dtypes: int64(1), object(13)
memory usage: 2.4+ KB

In [9]:
df.columns

Index(['datetime', 'stock_code', 'exchange_code', 'product_type',
       'expiry_date', 'right', 'strike_price', 'open', 'high', 'low', 'close',
       'volume', 'open_interest', 'count'],
      dtype='object')

In [10]:
df[['open', 'high', 'low', 'close',
       'volume']] = df[['open', 'high', 'low', 'close',
       'volume']].astype('float64')
df[['count']] = df[['count']].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       21 non-null     object
 1   stock_code     21 non-null     object
 2   exchange_code  21 non-null     object
 3   product_type   0 non-null      object
 4   expiry_date    0 non-null      object
 5   right          0 non-null      object
 6   strike_price   0 non-null      object
 7   open           21 non-null     float64
 8   high           21 non-null     float64
 9   low            21 non-null     float64
 10  close          21 non-null     float64
 11  volume         21 non-null     float64
 12  open_interest  0 non-null      object
 13  count          21 non-null     int64
dtypes: float64(5), int64(1), object(8)
memory usage: 2.4+ KB

In [11]:
df['return'] = df['close'].pct_change()
df.tail()

,datetime,stock_code,exchange_code,product_type,expiry_date,right,strike_price,open,high,low,close,volume,open_interest,count,return
16,2022-12-19 12:12:00,NIFTY,NSE,None,None,None,None,18288.10,18431.65,18244.55,18420.45,382735977.0,None,16,0.008290
17,2022-12-20 12:12:00,NIFTY,NSE,None,None,None,None,18340.30,18404.90,18202.65,18385.30,368485441.0,None,17,-0.001908
18,2022-12-21 12:12:00,NIFTY,NSE,None,None,None,None,18435.15,18473.35,18162.75,18199.10,471434877.0,None,18,-0.010128
19,2022-12-22 12:12:00,NIFTY,NSE,None,None,None,None,18288.80,18318.75,18068.60,18127.35,406970495.0,None,19,-0.003943
20,2022-12-23 12:12:00,NIFTY,NSE,None,None,None,None,17977.65,18050.45,17779.50,17806.80,406794867.0,None,20,-0.017683

In [12]:
df['return'].describe()

count    20.000000
mean     -0.001919
std       0.006888
min      -0.017683
25%      -0.006091
50%      -0.000939
75%       0.002830
max       0.008290
Name: return, dtype: float64

In [13]:
df.shape

(21, 15)

In [14]:
import seaborn as sns
sns.histplot(df['return'])

## Volatility comparison

In [15]:
period, current_date, previous_date

(30, '2022-12-25 16:03:05.986833', '2022-11-25 16:03:05.986913')

In [16]:
def predicted_range(spot, hv, sd_safety):
    movt = spot * hv/100 * sd_safety
    upper = spot + movt
    lower = spot - movt
    return spot, movt, lower, upper

predicted_range(17830, 0.65, 1.5)

(17830, 173.8425, 17656.1575, 18003.8425)

In [17]:
hv_daily = df['return'].describe()["std"]*100
hv_mo = (hv_daily)*(12**0.5)
hv_daily, hv_mo

(0.688815090461338, 2.3861254673983794)

In [18]:
hv_mo = (hv_daily)*(12**0.5)
print(hv_mo)
print(predicted_range(18484, hv_mo, 1))
print(predicted_range(18484, hv_mo, 1.5))

2.3861254673983794
(18484, 441.0514313939164, 18042.948568606083, 18925.051431393917)
(18484, 661.5771470908746, 17822.422852909127, 19145.577147090873)