In [1]:
import yfinance as yf
from datetime import datetime 
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [13]:
# data = yf.download("NIFTY", start="2022-01-01", end="2022-08-19")
data = yf.download("^NSEI", period="15y", interval="1mo")
data = data.iloc[:-2, :]
data.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-04-01,17436.900391,18114.650391,16824.699219,17102.550781,17102.550781,5658100
2022-05-01,16924.449219,17132.849609,15735.750000,16584.550781,16584.550781,6343200
2022-06-01,16594.400391,16793.849609,15183.400391,15780.250000,15780.250000,5514100
2022-07-01,15703.700195,17172.800781,15511.049805,17158.250000,17158.250000,5475300
2022-08-01,17243.199219,17992.199219,17154.800781,17759.300781,17759.300781,5589500

In [40]:
(17759-17158)/17158

0.03502739246998485

In [42]:
df = pd.DataFrame()
df['pct'] = data['Adj Close'].pct_change().iloc[1:]
df['pct'] = df['pct']*100
df['pct_abs'] = df['pct'].abs()
df.tail(10)

                 pct   pct_abs
Date
2021-11-01 -3.895794  3.895794
2021-12-01  2.183638  2.183638
2022-01-01 -0.081832  0.081832
2022-02-01 -3.148523  3.148523
2022-03-01  3.994603  3.994603
2022-04-01 -2.073887  2.073887
2022-05-01 -3.028788  3.028788
2022-06-01 -4.849699  4.849699
2022-07-01  8.732435  8.732435
2022-08-01  3.502984  3.502984

In [43]:
df.describe()

              pct     pct_abs
count  178.000000  178.000000
mean     0.820045    4.508178
std      6.263664    4.412627
min    -26.410279    0.029790
25%     -2.462526    1.449865
50%      0.594221    3.511349
75%      4.424955    6.355493
max     28.066042   28.066042

In [44]:
c = 17760
c - (c*0.0246)

17323.104

In [45]:
c + (c * 0.0442)

18544.992

Expected nifty range based on median, IQR
17300-18600

In [46]:
0.82 + 6.26

7.08

In [47]:
0.82-6.26

-5.4399999999999995

In [49]:
c - (c*0.0544)

16793.856

In [50]:
c + (c * 0.0708)

19017.408

Expected nifty range based on mean, std
16800-19000