In [2]:
import pandas as pd
import numpy as np
import pandas_ta as ta
import talib
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math as m
import yfinance as yf
import breeze_connect
from breeze_connect import BreezeConnect

print("Imported necessary libraries")

Imported necessary libraries

In [5]:
fresh_token = 7868564

In [6]:
isec = BreezeConnect(api_key="06890j43os6a521A7b7241i934KQ9S56")
isec.generate_session(
    api_secret="$42367K2z98758S712349896J6i^64Mx",
    session_token=fresh_token)

In [ ]:
oc = isec.get_option_chain_quotes(stock_code="NIFTY",
                    exchange_code="NFO",
                    product_type="options",
                    expiry_date="2023-04-13T06:00:00.000Z",
                    right="call")
ocdf = pd.DataFrame(oc["Success"])
ocdf

In [12]:
oc2 = isec.get_option_chain_quotes(stock_code="NIFTY",
                    exchange_code="NFO",
                    product_type="options",
                    expiry_date="2023-04-13T06:00:00.000Z",
                    strike_price="17800")
ocdf2 = pd.DataFrame(oc2["Success"])
ocdf2.head()

,exchange_code,product_type,stock_code,expiry_date,right,strike_price,ltp,ltt,best_bid_price,best_bid_quantity,...,ltp_percent_change,upper_circuit,lower_circuit,total_quantity_traded,spot_price,ltq,open_interest,chnge_oi,total_buy_qty,total_sell_qty
0,NFO,Options,NIFTY,13-Apr-2023,Call,17800.0,31.90,12-Apr-2023 11:27:48,31.8,2500,...,30.47,290.65,0.05,141004550,17760.65,50,13985300.0,6512550.0,1927400,2545700
1,NFO,Options,NIFTY,13-Apr-2023,Put,17800.0,66.45,12-Apr-2023 11:27:46,66.4,750,...,-27.61,511.70,0.05,81944250,17760.65,100,6225950.0,4342250.0,894500,1178250

In [17]:
oc3 = isec.get_option_chain_quotes(stock_code="NIFTY",
                    exchange_code="NFO",
                    product_type="options",
                    right="call",
                    strike_price="17800")
ocdf3 = pd.DataFrame(oc3["Success"])
ocdf3

,exchange_code,product_type,stock_code,expiry_date,right,strike_price,ltp,ltt,best_bid_price,best_bid_quantity,...,ltp_percent_change,upper_circuit,lower_circuit,total_quantity_traded,spot_price,ltq,open_interest,chnge_oi,total_buy_qty,total_sell_qty
0,NFO,Options,NIFTY,13-Apr-2023,Call,17800.0,32.15,12-Apr-2023 11:31:46,32.10,500,...,31.49,290.65,0.05,143694450,17762.3,50,13977100.0,6504350.0,1837650,2598800
1,NFO,Options,NIFTY,20-Apr-2023,Call,17800.0,95.50,12-Apr-2023 11:31:45,95.40,200,...,14.71,405.50,0.05,4020350,17762.3,50,1191800.0,351150.0,139650,188500
2,NFO,Options,NIFTY,27-Apr-2023,Call,17800.0,156.30,12-Apr-2023 11:31:45,156.10,800,...,10.23,481.15,0.05,2048650,17762.3,100,2341500.0,336100.0,95250,86800
3,NFO,Options,NIFTY,04-May-2023,Call,17800.0,204.55,12-Apr-2023 11:27:26,203.30,100,...,8.69,538.05,0.05,14150,17762.3,200,21500.0,850.0,20050,9850
4,NFO,Options,NIFTY,11-May-2023,Call,17800.0,0.00,,239.80,100,...,-100.00,745.15,29.65,0,17762.3,0,0.0,0.0,7950,4100
5,NFO,Options,NIFTY,25-May-2023,Call,17800.0,310.95,12-Apr-2023 11:31:29,309.45,100,...,6.00,663.65,0.05,85450,17762.3,50,305600.0,7300.0,18900,14050
6,NFO,Options,NIFTY,29-Jun-2023,Call,17800.0,446.90,12-Apr-2023 11:27:46,445.55,100,...,5.05,815.80,35.00,8600,17762.3,350,18450.0,2650.0,8800,6000