In [162]:
import yfinance as yf
from datetime import datetime 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ta

In [163]:
class Underlying():
    period_dict = {"1m":"1d", "5m":"5d", "15m":"1mo", "30m":"1mo", "1h":"3mo", "1d":"1y", "1wk":"10y", "1mo":"max"}

    def __init__(self, symbol):
        self.symbol = symbol
    
    def get_data(self, timeframe="1d"):
        period = Underlying.period_dict[timeframe]
        df = yf.download(self.symbol, period=period, interval=timeframe)
        return df

    def get_data_with_ta(self, timeframe="1d"):
        df = Underlying.get_data(self, timeframe)
        df_with_ta = ta.add_all_ta_features(df, 'Open', 'High', 'Low', 'Close', 'Volume')
        return df_with_ta

In [164]:
nifty_symbol = "^NSEI"

In [165]:
nifty = Underlying(nifty_symbol)
nifty

In [166]:
df_ta = nifty.get_data_with_ta()
df_ta.tail()

[*********************100%***********************]  1 of 1 completed

/home/ganesh/anaconda3/lib/python3.9/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/home/ganesh/anaconda3/lib/python3.9/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

,Open,High,Low,Close,Adj Close,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-20,17066.599609,17066.599609,16828.349609,16988.400391,16988.400391,241800,3.493870e+06,-3551400,-0.139565,-7.622555e+06,...,-1.166520,-0.915550,-0.250970,2.844267,1.719583,1.124684,17383.305612,-0.652924,-0.655065,-1.360698
2023-03-21,17060.400391,17127.699219,17016.000000,17107.500000,17107.500000,246700,3.651346e+06,-3304700,-0.087512,-2.336208e+06,...,-1.138848,-0.960209,-0.178639,1.311037,1.637874,-0.326837,17345.198636,0.701064,0.698618,-0.669173
2023-03-22,17177.449219,17207.250000,17107.849609,17151.900391,17151.900391,0,3.651346e+06,-3304700,-0.069670,-2.002464e+06,...,-1.083767,-0.984921,-0.098846,-7.417298,-0.173160,-7.244138,17318.650908,0.259538,0.259201,-0.411372
2023-03-23,17097.400391,17205.400391,17045.300781,17076.900391,17076.900391,219200,3.518675e+06,-3523900,-0.064037,-4.064969e+06,...,-1.063104,-1.000558,-0.062546,-7.688228,-1.676174,-6.012054,17289.655032,-0.437269,-0.438228,-0.846843
2023-03-24,17076.199219,17109.449219,16917.349609,16945.050781,16945.050781,228000,3.356431e+06,-3751900,-0.079800,-7.778789e+06,...,-1.096194,-1.019685,-0.076509,-7.537755,-2.848490,-4.689265,17251.522292,-0.772093,-0.775089,-1.612398

In [167]:
df_ta.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'volume_adi',
       'volume_obv', 'volume_cmf', 'volume_fi', 'volume_em', 'volume_sma_em',
       'volume_vpt', 'volume_vwap', 'volume_mfi', 'volume_nvi',
       'volatility_bbm', 'volatility_bbh', 'volatility_bbl', 'volatility_bbw',
       'volatility_bbp', 'volatility_bbhi', 'volatility_bbli',
       'volatility_kcc', 'volatility_kch', 'volatility_kcl', 'volatility_kcw',
       'volatility_kcp', 'volatility_kchi', 'volatility_kcli',
       'volatility_dcl', 'volatility_dch', 'volatility_dcm', 'volatility_dcw',
       'volatility_dcp', 'volatility_atr', 'volatility_ui', 'trend_macd',
       'trend_macd_signal', 'trend_macd_diff', 'trend_sma_fast',
       'trend_sma_slow', 'trend_ema_fast', 'trend_ema_slow',
       'trend_vortex_ind_pos', 'trend_vortex_ind_neg', 'trend_vortex_ind_diff',
       'trend_trix', 'trend_mass_index', 'trend_dpo', 'trend_kst',
       'trend_kst_sig', 'trend_kst_diff', 'trend_ichimoku_conv',
       'trend_ichimoku_base', 'trend_ichimoku_a', 'trend_ichimoku_b',
       'trend_stc', 'trend_adx', 'trend_adx_pos', 'trend_adx_neg', 'trend_cci',
       'trend_visual_ichimoku_a', 'trend_visual_ichimoku_b', 'trend_aroon_up',
       'trend_aroon_down', 'trend_aroon_ind', 'trend_psar_up',
       'trend_psar_down', 'trend_psar_up_indicator',
       'trend_psar_down_indicator', 'momentum_rsi', 'momentum_stoch_rsi',
       'momentum_stoch_rsi_k', 'momentum_stoch_rsi_d', 'momentum_tsi',
       'momentum_uo', 'momentum_stoch', 'momentum_stoch_signal', 'momentum_wr',
       'momentum_ao', 'momentum_roc', 'momentum_ppo', 'momentum_ppo_signal',
       'momentum_ppo_hist', 'momentum_pvo', 'momentum_pvo_signal',
       'momentum_pvo_hist', 'momentum_kama', 'others_dr', 'others_dlr',
       'others_cr'],
      dtype='object')

In [168]:
df_ta['momentum_rsi'][-1]

35.551257207682895

In [169]:
df_ta['trend_adx'][-1]

29.44405029954341

In [170]:
df_ta['trend_sma_fast'][-1]

17127.304524739582

In [171]:
df_ta['trend_ema_fast'][-1]

17147.4465258455

In [172]:
df_ta['trend_sma_slow'][-1]

17393.846228966348

In [173]:
df_ta['trend_ema_slow'][-1]

17337.499224840216

## Make a table of   
`rsi, adx, sma, ema for 5m, 15m, 1h, 1d, 1w, 1mo timeframes`

In [174]:
tfs = ["5m", "15m", "1h", "1d", "1wk", "1mo"]
indicators = ["momentum_rsi", "trend_adx", "trend_sma_fast", "trend_sma_slow", "trend_ema_fast", "trend_ema_slow"]
indicators

['momentum_rsi',
 'trend_adx',
 'trend_sma_fast',
 'trend_sma_slow',
 'trend_ema_fast',
 'trend_ema_slow']

In [175]:
dict1 = {ind:[] for ind in indicators}
dict1

{'momentum_rsi': [],
 'trend_adx': [],
 'trend_sma_fast': [],
 'trend_sma_slow': [],
 'trend_ema_fast': [],
 'trend_ema_slow': []}

In [ ]:
for tf in tfs:
    df_temp = nifty.get_data_with_ta(timeframe=tf)
    for k in dict1.keys():
        dict1[k].append(df_temp[k][-1].round(2))
# dict1

In [180]:
df2 = pd.concat([pd.Series(tfs), pd.DataFrame(dict1)], axis=1)
df2

,0,momentum_rsi,trend_adx,trend_sma_fast,trend_sma_slow,trend_ema_fast,trend_ema_slow
0,5m,36.25,32.50,16960.84,16994.98,16958.76,16986.47
1,15m,31.36,30.08,17007.59,17032.09,16994.34,17030.11
2,1h,32.23,20.59,17068.83,17096.80,17046.09,17068.42
3,1d,35.55,29.44,17127.30,17393.85,17147.45,17337.50
4,1wk,38.82,14.87,17635.08,17816.92,17544.68,17621.78
5,1mo,54.04,22.00,17355.52,16828.55,17333.87,16415.63